body
{
    /*margin: 5px;/**/
    margin: 0;
    padding: 0;

    background-color: black;
    color: #77cf3c;
    border-color: #77cf3c;

    font-family: "Helvetica", "Arial", sans-serif;
}

.colorError
{
    color: rgb(200,100,100);
}

.tableMainColumn
{
    width: 240px;
}

.startAt
{
    position: absolute;
    top: 5px;
    left: 5px;
}

.hide
{
    display: none;
}

#queueDivContainer
{
    width: 300px;
    height: 100%;
    float: left;
}

#queueDiv, #queueDivAreaRight
{
    height: 100%;
    position:relative;
    overflow: hidden;
}

#queueDiv_slider, #queueDivArea_slider
{
    border: 1px solid;
}

#queueDiv_slider
{
    border-top-width: 0;
    border-bottom-width: 0;
}

#queueDivArea_slider
{
    border-right-width: 0;
}

#queueDivAreaTitle
{
    height: 40px;
    font-size: 1.4em;
}

#queueDivAreaToolsBar
{
    height: 40px;
}

.background
{
    background-color: black;
    opacity: 0.8;
    border:1px solid;
    position: absolute;
}

#tileArea, #mapArea
{
    border:1px solid;
    position: absolute;
}

/* loading */

.loadingScreenBar, .loadingScreenBarProgress
{
    border:1px solid;
    position: absolute;

    background-color: #1c4103;
    top: 150px;
    left: 150px;
    height: 20px;
    width: 300px;
}

.loadingScreenBarProgress
{
    background-color: #478f16;
    width: 0;
    border-right: 0;
}

/* building form */

.buildingArea
{
    position: absolute;
    margin: 1px;
    border: 0;
}

/* queue*/

.queueItem, .queueSeparator
{
    border: 1px solid;
    margin: 2px 2px 0 2px;
}

.queueSeparator, .queueItemButton
{
    background-color: #2f6A08;
}

.queueSeparator
{
    text-align: center;
    line-height: 20px;
    height: 20px;
}

.queueItem
{
    height: 30px;
}

.queueItemImage
{
    height: 100%;
    float: left;
}

.queueItemButton
{
    border: 1px solid;
    float: right;
    margin: 2px;
    height: 24px;
    width: 24px;
}

.queueItemText
{
    overflow: hidden;
    height: 26px;
    padding: 2px;
}

.queueItemTitle
{
    width: 100%;
}

.queueItemBar
{
    width: 100%;
    background-color: #2f6A08;
    height: 5px;
}

.queueItemBar2
{
    background-color: #478f16;
    height: 5px;
}

.queueList, .queueListSeparator
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.queueListItem
{
}

.queueListSeparator
{
    line-height: 0;
}

/* queue info */

.queueInfo
{
    padding: 5px;
}

.queueInfoTitle
{
    width: 100%;
    height: 125px;
}

.queueInfoTitleImage
{
    float: left;
    border:1px solid;
    height: 120px;
}

.queueInfoTitleData
{
    overflow: hidden;
    padding-left: 5px;
}

.queueInfoTitleName
{
    font-size: 1.2em;
    height: 25px;
}

.queueInfoTitleDescription
{
    min-height: 85px;
}

.queueInfoTitleBar
{
    width: 100%;
    background-color: #2f6A08;
    height: 10px;
}

.queueInfoTitleBar2
{
    background-color: #478f16;
    height: 10px;
}

.queueInfoDetails
{
    height: 100%;
    width: 100%;
}

/* slider */

.slider
{
    height: 100%;
    width: 20px;
    float: right;
}

.sliderCursor
{
    border:1px solid;
    position: relative;/*absolute;*/

    width: 12px;
    height: 12px;
    margin: 3px;
}

.slider_container
{
    overflow: hidden;
}

.scroll-content
{
    height: auto;
}